:root {
    --hero-color: hsl(0,0%,89.41%);
    --body-color: hsl(0,0%,93.73%);
    --iframe-color: hsl(0,9.52%,91.76%);
    --input-background: hsl(0,0%,98.43%);
    --h2-color: hsl(0,100%,35.1%);
    --contact-hero-bg: hsl(0,0%,97.65%);
    --fw-600: 600;
    --box-shadow-color: #6EC1E4;

    /* font-sizes */
    --font-size: 2.5625rem;

    /* font-families */
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --roboto-slab: 'Roboto Slab', serif;
    }

    /* Keyframes */
    @keyframes slide-from-right {
        0% {
            transform: translateX(020%);
            opacity: 0;
        }
    
        95% {
            transform: translateX(-.6em);
        }
    
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    @keyframes scale-Y {
        0% {
            /* transform: translateX(-03.0em); */
            transform: scaleY(0);
            opacity: 0;
        }
    
        100% {
            /* transform: translateX(0%); */
            transform: scaleY(1);
            opacity: 1;
        }
    }

    @keyframes scale-X {
        0% {
            /* transform: translateX(-03.0em); */
            transform: scaleX(0);
            /* opacity: 0; */
        }

        99% {
            /* transform: sclaeX(); */
            transform: scaleX(1.05);
        }
    
        100% {
            /* transform: translateX(0%); */
            transform: scaleX(1);
            /* opacity: 1; */
        }
    }

    @keyframes slide-up {
        0% {
            transform: translateY(1.5em);
            opacity: 0;
        }

        0099% {
            transform: translateY(-.3em);
            opacity: 1;
        }

        100% {
            transform: translateY(0em);
            opacity: 1;
        }
    }

    @keyframes socials-slided {
        0% {
            opacity: 0;
            /* tras */
            /* transform: translateY(-100%); */
            transform: scaleY(0);
            /* z-index: -11111111111; */
        }
    
        100% {
            /* oa */
            opacity: 1;
            /* transform: translateY(0%); */
            transform: scaleY(1);
            /* z-index: unset; */
        }
    }

    @keyframes rotate {
        /* tr */
        0% {
            transform: translateX(10em);
            opacity: 0;
        }
        100% {
            transform: translateX(0em);
            opacity: 1;
        }
    }
    /* Keyframes end */
    
    body {
        background: var(--body-color);
    }

    header {
        /* animation: socials-slided 450ms ease-in-out forwards 400ms; */
        opacity: 1;
        /* opacity: 0; */
        /* transform: d; */
        transform-origin: top;
        /* z-indd */
        /* poso */
        /* position: absolute; */
        /* ps */
        /* position: relative; */
        /* z-index: 111; */
    }
    
    main {
        background: var(--body-color);
        isolation: isolate;
    }
    
    section.hero {
    background: var(--hero-color);
    animation: scale-Y 250ms 850ms forwards ease-in-out;
    /* position: reltaive; */
    /* post */
    position: relative;
    /* top: -5em; */
    z-index: -11;
    opacity: 0;
    }

    /* .dropdown {
        position: relative;
        z-index: 11111111;
    } */
    
    section.hero-img {
        background: url('contact-us-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 26em;
        position: relative;
    animation: slide-from-right 250ms 1150ms forwards ease-in-out;
    opacity: 0;
    z-index: -1111111111;
    /* isolation: isolate; */
    }

    nav {
        /* position: relative; */
        /* z-index: 999999999999999; */
    }
    
    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.589);
        position: absolute;
        inset: 0%;
        /* z-index: -211111111111111; */
        /* isolation: isolate; */
    }
    
    .header-container {
        background: var(--red);
        margin: 0%;
        width: 55%;
        padding: 1.5em 2.5em;
        border-radius: 0 3.89em 0 0;
        color: var(--white);
        display: flex;
        justify-content: right;
        animation: scale-X 250ms 1250ms forwards ease-in-out;
        /* tras */
        /* transg */
        transform-origin: left;
        transform: scaleX(0);
    }
    
    h1 {
        margin: 0%;
        font-family: var(--roboto-slab);
        font-size: var(--font-size);
        font-weight: var(--fw-600);
        opacity: 0;
        animation: slide-up 200ms forwards ease-in-out 1350ms;
    }
    
    .contact-info-section {
        width: 80%;
        width: min(1178.24px, 100%);
        background: var(--white);
        margin-inline: auto;
        padding: 2.5em 1.5em;
        box-shadow: 0 0 6px 3px rgb(205, 203, 203);
        margin-block: 3.5em;
        animation: rotate 350ms ease-in-out forwards 1400ms;
        opacity: 0;
    }
    
    .contact-info-section h2 {
        margin: 0%;
        text-align: center;
        color: var(--red);
        font-family: var(--roboto-slab);
        font-size: 1.975rem;
        font-weight: var(--fw-600);
        letter-spacing: .005em;
        color: var(--h2-color);
    }
    
    .contact-info-section > p {
        text-align: center;
        font-family: var(--montserrat);
        font-weight: var(--fw-400);
        font-size: 1.0625rem;
        line-height: 30.6px;
    }
    
    .iframe-grid {
        display: grid;
        grid-template-columns: 53% 47.0%;
        background: var(--contact-hero-bg);
    }
    
    .flex-child-2 {
        background: var(--light-gray);
        padding: .5em .65em;
    }
    
    iframe {
        width: 100%;
        height: 300px;
    }
    
    .iframe-grid h3 {
        font-size: 1.25rem;
        font-weight: var(--fw-600);
        font-family: var(--montserrat);
    }

    .location-flex {
        font-family: var(--montserrat);
        font-size: 1rem;
        font-weight: var(--fw-400);
        display: flex;
        gap: .5em;
        align-items: center;
    }
    
    .location-flex img {
        width: 1.5em;
        height: 1.5em;
    }
    
    .location-flex p {
        line-height: 28.8px;
    }
    
    
    .mail-flex {
        display: flex;
        gap: .5em;
        align-items: center;
        font-family: var(--montserrat);
        font-size: .875rem;
        font-weight: var(--fw-400);
        color: white;
        color: var(--white);
        margin-bottom: 4.0em;
    }
    
    .mail-flex img {
        width: 1.5em;
        height: 1.5em;
        align-items: center;
    }
    
    .mail-flex p {
        background: var(--red);
    }

    .flex-child-1 {
        padding: .9em .8em;
    }
    
    .follow-socials {
        display: flex;
        gap: 1.1em;
    }
    
    .follow-socials img {
        width: 1.55em;
        height: 1.55em;
        transition: 450ms ease-in-out;
    }
    
    .follow-socials div {
        width: 3.0em;
        height: 3.0em;
        border: 1.3px dotted var(--red);
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 350ms ease-in-out;
        cursor: pointer;
    }
    
    .follow-socials div:hover {
        transform: scale(.85);
    }

    .follow-socials div:hover img {
        transform: rotate3d( 0, 1, 0 ,360deg);
    }

    .personal-data h3 {
        font-family: var(--open-sans);
        font-size: 1.25rem;
        font-weight: var(--fw-700);
        line-height: 28px;
    }
    
    .personal-data p {
        font-family: var(--open-sans);
        font-weight: var(--fw-400);
        font-size: .875rem;
        line-height: 25.2px;
        color: rgb(146, 146, 146);
        padding-bottom: 1.35em;
        margin-bottom: 1.55em;
        position: relative;
    }

    .personal-data p::after, 
    .help p::after {
        content: '';
        position: absolute;
        bottom: 0;
        inset-inline: 0;
        /* border-bottom: .5px solid rgba(146, 146, 146, 0.379); */
        height: .5px;
        background: rgba(146, 146, 146, 0.379);
        pointer-events: none;
    }
    
    .flex-label {
        display: flex;
        flex-direction: column;
        gap: .4em;
        font-family: var(--open-sans);
        font-size: .875rem;
        color: rgb(146, 146, 146);
        font-weight: var(--fw-700);
        text-transform: s;
    }
    
    .flex-label label::after {
        content: ' *';
        color: var(--red);
    }
    
    .flex-label label {
        text-transform: capitalize;
    }
    
    .personal-data form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2em;
    }
    
    .personal-data form input {
        padding: .9em 1.3em;
        outline: none;
        border: 1.5px solid rgb(146, 146, 146);
        transition: border .2s ease-in, box-shadow .25s ease-in .15s;
        background: var(--input-background);
        width: 100%;
        /* border: none; */
        /* border-bottom: 1.5px solid rgb(146, 146, 146); */
    }
    
    .personal-data form input:focus,
    .text-area-section textarea:focus {
        box-shadow: 0 0 6px 1.5px var(--box-shadow-color);
        border: 1.5px solid var(--box-shadow-color);
        outline: none;
    }

    .input {
        /* border: 2px solid black; */
        position: relative;
    }

    .input:focus .input::after {
        transform: scaleY(1);
    }

    .input::after {
        /* content: ''; */
        position: absolute;
        inset: 0%;
        /* border: .5px solid rgba(146, 146, 146, 0.644); */
        border: .5px solid rgba(146, 146, 146);
        border-bottom: none;
        pointer-events: none;
        background: var(--white);
        transform: scaleY(0);
        /* transform: ori; */
        transform-origin: center;
        transition: .3s ease-in;
    }

    .input::after:hover .personal-data label {
        transform: scaleY(1);
        /* transform: translateZY; */
        transform: translateY(0em);
    }

    .personal-data label {
        /* transform: translateY(3.0em); */
        position: relative;
        z-index: 2;
    }

    .help > h3 {
        font-size: 1.25rem;
        line-height: 28px;
        font-weight: var(--fw-700);
        font-family: var(--open-sans);
    }
    
    .help p {
        /* font-family: opaensans; */
        font-family: var(--open-sans);
        font-size: .875rem;
        font-weight: var(--fw-400);
        line-height: 25.2px;
        color: rgb(146, 146, 146);
        padding-bottom: 1.35em;
        margin-bottom: 1.55em;
        position: relative;
    }
    
    .help .text-area-section {
        display: flex;
        flex-direction: column;
        gap: .4em;
    }
    
    .text-area-section label {
        font-size: .875rem;
        font-weight: var(--fw-700);
        color: rgb(146, 146, 146);
        line-height: 25.2px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .text-area-section label::after {
        content: ' *';
        color: var(--red);
    }
    
    .text-area-section textarea {
        padding: .9em 1.3em;
        outline: transparent;
        appearance: none;
        border: 1.5px solid rgb(146, 146, 146);
        transition: .2s ease-in;
        background: var(--input-background);
        margin-bottom: 3em;
        transition: border .2s ease-in, box-shadow .25s ease-in .15s;
    }
    
    .help input[type="submit"] {
        background: var(--red);
        border: none;
        padding: 1.25em 4em;
        min-width: 23em;
        color: var(--white);
        font-size: 0.9375rem;
        letter-spacing: 1.5px;
        line-height: 21.4286px;
        font-weight: var(--fw-400);
        text-decoration: uppercase;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    @media only screen and (max-width:1165px) {
        .header-container {
            width: 70%;
        }
    }
    
    @media only screen and (max-width:943px) {
        .iframe-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    
        iframe {
            width: 100%;
        }
    }
    
    @media only screen and (max-width:915px) {
        .header-container {
            width: 85%;
        }
    }
    
    @media only screen and (max-width:753px) {
        .header-container {
            width: 100%;
        }
    }
    
    @media only screen and (max-width:700px) {
        :root {
            --font-size: 2rem;
        }
    
        .h1 {
            justify-content: left;
            justify-content: flex-start;
        }
    
        .personal-data form {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .contact-info-section > :is(h2, p) {
            text-align: left;
        }
    }
    
    @media only screen and (max-width:517px) {
        h1 {
            font-size: 1.7rem;
        }
    
        .help input[type="submit"] {
            min-width: 100%;
        }
    
        .contact-info-section {
            padding-inline: 3.5%;
        }
    
        .flex-child-2 {
            padding-inline: .2em;
            padding-bottom: 0em;
        }
    
        .follow-socials img{
            width: 1em;
            height: 1em;
        }
    
        .follow-socials div {
            width: 2.45em;
            height: 2.45em;
        }
    }
    